.md-app {
    min-height: 350px;
    // border: 1px solid rgba(#000, .12);
}

// Demo purposes only
.md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}
.md-card {
  // width: 80%;
  margin: 20px;
  // display: inline-block;
  // vertical-align: top;
  padding-bottom: 0;
}

.md-card-example {
  .md-subhead {
    .md-icon {
      $size: 16px;

      width: $size;
      min-width: $size;
      height: $size;
      font-size: $size !important;
    }

    span {
      vertical-align: middle;
    }
  }

  .card-reservation {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .md-icon {
      margin: 8px;
    }
  }

  .md-button-group {
    display: flex;

    .md-button {
      min-width: 60px;
      border-radius: 2px;
    }
  }
}
.e-no-padding{
  padding:0;
}


@import "./app/vue-material/dist/theme/engine"; // Import the theme engine
@import "./app/vue-material/dist/theme/mixins"; // Import the theme engine

@include md-register-theme("default", (
  primary: #12375F, // The primary color of your brand
  accent: #E99B38 // The secondary color of your brand
));

@import "./app/vue-material/dist/theme/all"; // Apply the theme