{% extends "base.html" %}
{% load static %}

{% block title %} Login {% endblock title %}


{% block content %}

<div class="md-layout md-alignment-center-center">
    <div class="md-layout-item md-size-50 md-xsmall-size-100 md-medium-size-75">
        <md-card>
            <form method="post" action="">

                <md-card-header>
                    <md-card-header-text>
                        <div class="md-layout md-alignment-center-space-around">
                            <div class="md-layout-item md-size-50 md-title">
                                {% csrf_token %}

                                {% if msg %}
                                <md-toolbar class="md-primary md-dense"  style="background-color: #952e31;!important">
                                    <span class="md-title">{{ msg | safe }}</span>
                                </md-toolbar>
                                {% endif %}
                                <md-field>
                                    {{ form.username }}
                                    <span class="md-helper-text">Enter your username</span>
                                </md-field>
                                <md-field>
                                    {{ form.password }}
                                    <span class="md-helper-text">Enter your password</span>
                                </md-field>
                                <md-card-actions>
                                    <md-button type="submit" name="login" class="md-raised md-primary">Sign In
                                    </md-button>

                                </md-card-actions>
                            </div>
                            <div class="md-layout-item md-size-30 ">
                                <img src="{% static 'auc-100-logo.svg' %}" alt="People">
                            </div>
                        </div>
                    </md-card-header-text>

                </md-card-header>


            </form>

        </md-card>


    </div>
</div>

</div>

{% endblock content %}

{% block scripts %}


{% endblock scripts %}
