{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}
<md-card class="md-card-example">
                            {% include "includes/_messages.html" %}

    <md-card-area md-inset>

<!--        <md-card-header>-->
<!--            <md-card-header-text class="md-layout md-alignment-center-center">-->
<!--                <div class="md-title">Page Not Found.</div>-->
<!--            </md-card-header-text>-->
<!--        </md-card-header>-->

        <md-card-content class="md-layout md-alignment-center-center" style="margin-top:20px;">
            <img src="{% static 'auc-100-logo.svg' %}" alt="redirect" width="100px" height="100px">
        </md-card-content>


        <div class="md-layout md-alignment-center-center" style="margin-top:20px;">
            <md-card-actions>
                <md-button class="md-raised md-primary" href="{% url 'login' %}">Return Back</md-button>
            </md-card-actions>
        </div>
    </md-card-area>

</md-card>

{% endblock %}
