{% load static %}
{% load sass_tags %}
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="{% static 'app/vue-material/dist/vue-material.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vue-material/dist/theme/default.css' %}">
    <link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'main.css' %}">


</head>

<body>
<div id="app">
    <div class="page-container">

        <md-app md-waterfall md-mode="fixed">

            <md-app-toolbar class="md-primary" md-elevation="3">
                <md-button class="md-icon-button" @click="toggleMenu">
                    <md-icon>menu</md-icon>
                </md-button>
                <md-icon class='md-title md-size-4x' md-src="{% static 'logo.svg' %}"></md-icon>
                {% if user.is_authenticated %}

                <div class="md-toolbar-section-end">
                       <div >Welcome {{user}}</div>
                    <md-icon class='md-title md-size-4x'>
                        {% if person.account.image %}

                        <md-avatar>
                            <img src="data: image/png; base64, {{ person.account.image }}" width="20px" height="20px" alt="Avatar">
                        </md-avatar>
                        {% endif %}

                    </md-icon>
                </div>
                {% endif %}
            </md-app-toolbar>

            {% if user.is_authenticated %}
            <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini" md-permanent="clipped"
                           v-bind:class="{ 'md-xsmall-hide': !menuVisible }">


                <md-list>

                    <md-list-item href="/">
                        <md-icon>home</md-icon>
                        <span class="md-list-item-text" style="font-weight: bolder;">Home</span>
                    </md-list-item>

                    <md-list-item href="{% url 'logout' %}">
                        <md-icon>login</md-icon>
                        <span class="md-list-item-text" style="font-weight: bolder;">Logout</span>
                    </md-list-item>

                </md-list>

            </md-app-drawer>
            {% endif %}


            <md-app-content>
                <!--                <div class="md-display-1">{{title}}</div>-->
                {% block content %}{% endblock %}
            </md-app-content>
        </md-app>

    </div>

</div>
<script src="{% static '/app/vue/dist/vue.min.js' %}"></script>
<script src="{% static '/app/vue-material/dist/vue-material.min.js' %}"></script>
<script src="{% static 'app.js' %}"></script>
</body>

</html>