{% extends 'base.html'%}
{% load static %}
{% load humanize %}
{% block content %}
<md-card class="md-card-example">
    <md-card-area md-inset>
        <!-- <md-card-media md-ratio="16:5">
        <img src="{% static 'card-example.jpg' %}" alt="Coffee House">
      </md-card-media> -->
        <md-card-header>
            <md-card-header-text>
                <div class="md-title">{{name}}</div>

                <div class="md-subhead">

                    <md-icon>picture_in_picture</md-icon>
                    <span>{{university_id}}</span>
                </div>
            </md-card-header-text>

            <md-card-media md-small>
                <img src="{% static 'logo.png' %}" alt="People">
            </md-card-media>
        </md-card-header>

    </md-card-area>
    <md-card-area md-inset>

        <md-card-content>
            <md-table>
                <md-table-row>
                    <md-table-head>Balance</md-table-head>
                    <md-table-head>US Dollars</md-table-head>
                    <md-table-head>Egyptian Pounds</md-table-head>
                </md-table-row>

                <md-table-row>
                    <md-table-cell>Egyptian Pounds</md-table-cell>
                    <md-table-cell></md-table-cell>
                    <md-table-cell>{{egp_balance|intcomma}}</md-table-cell>
                </md-table-row>

                <md-table-row>
                    <md-table-cell>US Dollars</md-table-cell>
                    <md-table-cell>{{usd_balance|intcomma}}</md-table-cell>
                    <md-table-cell>{{egp_equivalent|intcomma}}</md-table-cell>
                </md-table-row>
                <md-table-row>
                    <md-table-cell class="md-body-2">Total</md-table-cell>
                    <md-table-cell class="md-body-2"></md-table-cell>
                    <md-table-cell class="md-body-2">{{total_balance|intcomma}}</md-table-cell>
                </md-table-row>
            </md-table>
        </md-card-content>
    </md-card-area>
    {% if total_balance > 0 %}
    <md-card-expand>
        <div class="md-layout md-alignment-center-center">

        <md-card-actions >
            <md-card-expand-trigger>
                    <md-button class="md-raised md-primary" @click="payOnlineClicked" v-if="!payOnlineHidden">Pay Online</md-button>
            </md-card-expand-trigger>
        </md-card-actions>
    </div>
        <md-card-expand-content>
            <md-card-content>
                <md-table>
                    <md-table-row>
                        <md-table-cell>Total Balance</md-table-cell>
                        <md-table-cell></md-table-cell>
                        <md-table-cell>{{total_balance|intcomma}}</md-table-cell>
                    </md-table-row>

                    <md-table-row>
                        <md-table-cell>Convenience Fees</md-table-cell>
                        <md-table-cell></md-table-cell>
                        <md-table-cell>{{convenience_fees|intcomma}}</md-table-cell>
                    </md-table-row>
                    <md-table-row>
                        <md-table-cell class="md-body-2">Total</md-table-cell>
                        <md-table-cell></md-table-cell>
                        <md-table-cell class="md-body-2">{{total_payment|intcomma}}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-card-content>
            </md-card-area>
            <div class="md-layout md-alignment-center-center">

            <md-card-actions >
                <md-button id = "pay-now" class="md-raised md-accent">Pay Now</md-button>
            </md-card-actions>
            </div>
        </md-card-expand-content>
    </md-card-expand>

    {% endif %}
</md-card>

{% endblock %}