{% if messages %}
{% for message in messages %}
{% if 'error' not in message.tags %}
<md-toolbar class="md-primary md-dense">
    <span class="md-title">{{ message }} </span>
</md-toolbar>
{% endif %}
{% if 'error' in message.tags %}
<md-toolbar class="md-primary md-dense" style="background-color: #952e31;!important">
    <span class="md-title">{{ message }} </span>
</md-toolbar>

{% endif %}


{% endfor %}
{% endif %}
